body {
	padding: 10px;
}

.stats {	
	text-align: center;
	margin-left: 18%;
}

@media (min-width: 1000px) {
	.stats {	
		max-width: 240px;
		margin: 10px auto;
	}
}
@media (min-width: 600px) {	
	.stat .badge{
		float: right;
	}
}

h1 {
	text-align: center;
}

h1 .badge {
	font-size: 22px;
	margin-top: -5px;
	margin-left: 5px;
}
@media (max-width: 400px) {	
	h1 {
		font-size: 26px;
	}
	
	h1 .badge {
		font-size: 18px;		
	}
}
	
.user-name {
    color: #333;
}

.user-name:hover {
    color: #666;
    text-decoration: none;
    cursor: pointer;      
}

input {
    max-width: 240px;
}

.stats .stat {
	margin: 5px;
	border-radius: 5px;
	font-size: 32px;
	border: 2px solid #999;
	padding: 0px;
}
.stats .stat .number {
	margin-left: 12px;
}
@media (max-width: 400px) {	
	.stats .stat{
		font-size: 22px;
	}
	
	.stats .stat .badge {
		font-size: 18px;
	}
}

.reset {
	max-width: 240px;
	margin-top: 25px;
}

.col-xs-12 {
	padding: 0;
	margin: 0 auto;
}

.skills img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}